<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82247477048-nd743ch1e9dh156e2foro9060hlecrp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82247477048-nd743ch1e9dh156e2foro9060hlecrp2</string>
	<key>API_KEY</key>
	<string>AIzaSyAj66OYfiuuKYvF4eQiUwqhKhmHCY0wu9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>82247477048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.concentration.Concentration</string>
	<key>PROJECT_ID</key>
	<string>concentration-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>concentration-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82247477048:ios:6702f057684504af8d43cd</string>
	<key>DATABASE_URL</key>
	<string>https://concentration-firebase-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>